* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body {
    height: 100%;
    width: 100%;
}

h1{
    font-size: 60px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    text-align: center;
    text-decoration: underline;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}
.nav div{
    display: flex;
    gap: 40px;
} 


.nav a{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}
.nav h2{
    font-size: 17px;
}