* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body {
    height: 100%;
    width: 100%;
}

h1{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  text-decoration: underline;
  text-transform: capitalize;
}