* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body {
    height: 100%;
    width: 100%;
}
img{
  height: 200px;
  position: absolute;
}
button{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
}